#employee {
    font-size: 20px;
    color: white;
    margin: -20px 2 1 1;
    line-height: 30px;
}

#employee h3 {
    font-size: 40px;
    color: white;
    margin-bottom: 0.80cm;        
}

#employee td {
    font-size: 20px;
    padding: 5px 45px 5px 45px;
}

#employee tr:nth-child(even) {
    background: rgba(143, 110, 130, 0.514);
}

#employee tr:nth-child(1) {
    background: rgb(147, 123, 191);
}