.App {
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/2641074.gif');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#employee {
    font-size: 20px;
    color: white;
    margin: -20px 2 1 1;
    line-height: 30px;
}

#employee h3 {
    font-size: 40px;
    color: white;
    margin-bottom: 0.80cm;        
}

#employee td {
    font-size: 20px;
    padding: 5px 45px 5px 45px;
}

#employee tr:nth-child(even) {
    background: rgba(143, 110, 130, 0.514);
}

#employee tr:nth-child(1) {
    background: rgb(147, 123, 191);
}