body {
  margin: 0;
  font-family: 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New';
}

 .glitch {
    position: relative;
    color: white;
    font-size: 4em;
    letter-spacing: .5em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}